.navigation {
    background: var(--background);
    border-bottom: 1px solid var(--gray-alpha-200);
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: var(--font-geist-mono);
    width: 100%;
}

.navContainer {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    color: var(--foreground);
    cursor: pointer;
    font-family: var(--font-geist-mono);
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-right: 24px;
}

.navLinks {
    display: flex;
    flex: 1;
    justify-content: start;
    align-content: start;
    gap: 16px;
}

.navLink {
    appearance: none;
    border-radius: 128px;
    height: 48px;
    padding: 0 20px;
    border: none;
    border: 1px solid transparent;
    transition: background 0.2s,
    color 0.2s,
    border-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--font-geist-mono);
    background: var(--background);
    color: var(--foreground);
    border-color: var(--gray-alpha-200);
}

.navLink:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
}

.navLink.active {
    background: var(--foreground);
    color: var(--background);
    border-color: transparent;
}

.navLink.active:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
}

@media (max-width: 600px) {
    .navContainer {
        padding: 0 32px;
    }

    .navLink {
        font-size: 14px;
        height: 40px;
        padding: 0 16px;
    }

    .logo {
        font-size: 16px;
    }
}
