.navigation {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0 0 12px 12px;
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: var(--font-geist-mono);
    width: 80%;
    margin: 0 12px;
    width: calc(100% - 48px);
}

.navContainer {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    font-family: var(--font-geist-mono);
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-right: 24px;
}

.navLinks {
    display: flex;
    flex: 1;
    justify-content: start;
    align-content: start;
    gap: 16px;
}

.navLink {
    appearance: none;
    border-radius: 128px;
    height: 48px;
    padding: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background 0.2s,
    color 0.2s,
    border-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--font-geist-mono);
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.navLink:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}

.navLink.active {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.6);
}

.navLink.active:hover {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
    .navContainer {
        padding: 0 32px;
    }

    .navLink {
        font-size: 14px;
        height: 40px;
        padding: 0 16px;
    }

    .logo {
        font-size: 16px;
    }
}
